<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/board}" th:object="${form}" method="post"> <div class="form-group">
        <label th:for="name">이름</label>
        <input type="text" th:field="*{name}" class="form-control"
               placeholder="이름을 입력하세요"> </div>
        <div class="form-group">
            <label th:for="price">메세지</label>
            <input type="text" th:field="*{context}" class="form-control" placeholder="메세지를 입력하세요">
        </div>
        </div>
        <button type="submit" class="btn btn-primary">보내기</button> </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>